<section class="content">
    <h2>About The Program</h2><br>
    <p>This currency converter program uses the ExchangeRate-API to handle getting current conversion rates for 11 different currencies. Additionally, stored in the program is the exchange rate for each currency from the beginning of the month for each month of 2023 &#x28;obtained from Yahoo Finance&#x29;. To navigate between the pages, the program uses an ejs view engine as well as routes that control whether the user sees the homepage, converter, table or a 404 message.</p>
</section>