<section class="content">
    <h2>Welcome to my currency converter program for SD 230 at Whatcom Community College.</h2><br>
    <p>Click one of the links above to be taken to the currency converter, a table for viewing 2023 exchange rate changes, or the about page to learn about the program!</p>
</section>