<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SD 230: Currency Converter</title>
        <meta charset="utf-8">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>SD 230: Currency Converter</h1>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/converter">Converter</a></li>
                <li><a href="/table">Currency Table</a></li>
                <li><a href="/about">About Page</a></li>
            </ul>
        </header>
            <main>
                <%- body %>
            </main>
    </body>
</html>