
<section class="content">
    <p style = "text-align: center; font-size: 16px; font-weight: bold; margin-bottom: 20px; ">Select TWo Currencies To Compare Exchange Rates At The Beginning of Each Month In 2023.</p>
    <div id="inputs">
        <section>
            <label for="from">From:</label>
            <select name="from" id="from">
                <option value="AUD">AUD - Australian Dollar</option>
                <option value="CAD">CAD - Canadian Dollar</option>
                <option value="CLP">CLP - Chilean Peso</option>
                <option value="CNY">CNY - Chinese Yuan</option>
                <option value="EUR">EUR - Euro</option>
                <option value="GBP">GBP - British Pound Sterling</option>
                <option value="INR">INR - Indian Rupee</option>
                <option value="JPY">JPY - Japanese Yen</option>
                <option value="RUB">RUB - Russian Ruble</option>
                <option value="USD" selected>USD - United States Dollar</option>
                <option value="ZAR">ZAR - South African Rand</option>
            </select>
        </section>
        
        <p><a href="#" id="switch">&#8646;</a></p>
        
        <section>
            <label for="to">To:</label>
            <select name="to" id="to">
                <option value="AUD">AUD - Australian Dollar</option>
                <option value="CAD">CAD - Canadian Dollar</option>
                <option value="CLP">CLP - Chilean Peso</option>
                <option value="CNY">CNY - Chinese Yuan</option>
                <option value="EUR">EUR - Euro</option>
                <option value="GBP">GBP - British Pound Sterling</option>
                <option value="INR">INR - Indian Rupee</option>
                <option value="JPY">JPY - Japanese Yen</option>
                <option value="RUB">RUB - Russian Ruble</option>
                <option value="USD" selected>USD - United States Dollar</option>
                <option value="ZAR">ZAR - South African Rand</option>
            </select>
        </section>
    </div>

    <div id="timeTable"></div>
    <script>
        // conversion from 1/23 to 12/23
        let conversion_rates = <%- JSON.stringify(information[0]) %>;
    </script>
    <script src="js/table.js"></script>
</section>